.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: rgba(76, 175, 80, 0.32);
}

.ant-btn-primary {
  background-color: #3ba706;
}

body {
  background-color: gainsboro;
}

